<div class="background-image">
    <h1 class="mat-display-1">Reset your password</h1>
    <mat-horizontal-stepper #stepper labelPosition="bottom" linear>
      <!-- Step 1: Enter Email -->
      <mat-step label="Identify you">
        <mat-card class="example-card">
          <mat-card-title>Identify you</mat-card-title>
          <mat-card-content>
            <form class="flex-form" [formGroup]="firstFormGroup">
              <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="youremail@example.com" formControlName="email" required>
                <mat-hint>This is the email we use to contact you</mat-hint>
                <mat-error *ngIf="email?.invalid">{{ getEmailErrorMessage() }}</mat-error>
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary" (click)="onSubmitEmail()" matStepperNext>Next</button>
          </mat-card-actions>
        </mat-card>
      </mat-step>
  
      <!-- Step 2: Enter Email Code -->
      <mat-step label="Email Code" id="email-code" *ngIf="emailSent">
        <mat-card class="example-card">
          <mat-card-title>We sent you an email code</mat-card-title>
          <mat-card-subtitle>We've sent your six-digit code to the email registered to your account.</mat-card-subtitle>
          <mat-card-content>
            <form class="flex-form" [formGroup]="secondFormGroup">
              <mat-form-field>
                <mat-label>Email Code</mat-label>
                <input matInput placeholder="Enter the code" formControlName="emailCode" required>
                <mat-hint>The code is six digits long</mat-hint>
                <mat-error *ngIf="emailCode?.invalid">{{ getEmailCodeErrorMessage() }}</mat-error>
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button (click)="stepper.previous()">Back</button>
            <button mat-flat-button color="primary" matStepperNext>Next</button>
          </mat-card-actions>
        </mat-card>
      </mat-step>
  
      <!-- Step 3: Set New Password -->
      <mat-step label="Set new password" *ngIf="emailSent">
        <mat-card class="example-card">
          <mat-card-title>Create your new password</mat-card-title>
          <mat-card-content>
            <form class="flex-form" [formGroup]="thirdFormGroup">
              <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password?.invalid">The password you entered is invalid</mat-error>
              </mat-form-field>
            </form>
  
            <mat-list>
              <mat-list-item>
                <mat-icon color="primary">lens</mat-icon> at least 8 characters long
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="primary">lens</mat-icon> at least one letter
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="primary">lens</mat-icon> at least one number
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="primary">lens</mat-icon> doesn't contain invalid characters
              </mat-list-item>
            </mat-list>
            <p>Make sure it isn’t based on your name or birthday.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button (click)="stepper.previous()">Go back</button>
            <button mat-flat-button color="primary" (click)="onSubmitCodeAndNewPassword()">Reset password</button>
          </mat-card-actions>
        </mat-card>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  