<div class="container">
    <h2>Manage Instructor and Vehicle Assignments</h2>
  
    <div class="assign-section">
      <h3>Assign a Candidate to an Instructor</h3>
      <form (ngSubmit)="assignCandidate()">
        <mat-form-field class="form-group">
          <mat-label>Candidate</mat-label>
          <mat-select [(ngModel)]="selectedCandidate" name="candidate" required>
            <mat-option *ngFor="let candidate of candidates" [value]="candidate">{{ candidate.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Instructor</mat-label>
          <mat-select [(ngModel)]="selectedInstructor" name="instructor" required>
            <mat-option *ngFor="let instructor of instructors" [value]="instructor">{{ instructor.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Vehicle</mat-label>
          <mat-select [(ngModel)]="selectedVehicle" name="vehicle" required>
            <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">{{ vehicle.LicensePlate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Assign</button>
      </form>
    </div>
  
 
  
   
  
  <div class="vehicle-section">
    <h3>Assignments Overview</h3>
    <table class="assignment-table">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Instructor</th>
          <th>Vehicle</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assignment of assignments">
          <td>{{ assignment.student.name }}</td>
          <td>{{ assignment.instructor.name }}</td>
          <td>{{ assignment.car.LicensePlate }}</td>
          <td>
            <button (click)="removeVehicle(assignment)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
      
    </table>
  </div>
