

<div class="admin-container">

  <h2>Admins Management</h2>
  <div class="container">
    <table mat-table [dataSource]="dataSource">
    
      <!-- Displaying columns -->
      <ng-container [matColumnDef]="column" *ngFor="let column of employeeColumns">
        <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
  
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.User">
            <ng-container *ngIf =" column !== 'role'">
          {{ element.User[column] }}
            </ng-container>
          </ng-container> </td>
         
      </ng-container>
  
     
    
      <!-- Actions Column -->
      <ng-container matColumnDef="actions" >
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary"  (click)="editRow(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteRow(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <!-- Header and Row definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> 
    <mat-paginator [pageSize]="3"
    [pageSizeOptions]="[2, 3, 4, 5]"
    [length]="dataSource.data.length"
    (page)="onPageChange($event)">
  </mat-paginator>
  
    <button  class="amouna-button" (click)="printTable()">Print</button>
  </div>
  
  <br><br>
  
  <button class="amouna-button" (click)="toggleForm()">Add New Admin</button>
  
  
  <!-- Form for adding or editing -->
  
  <div *ngIf="showForm || showEditForm">
    <form [formGroup]="employeeForm" (submit)="submitEmployee()">
      <fieldset>
        <legend>{{ showEditForm ? 'Edit Admin' : 'Add New Admin' }}</legend>
        <ng-container *ngFor="let control of employeeColumns">
          <mat-form-field appearance="fill">
            <mat-label>{{ control }}</mat-label>
            <input matInput formControlName="{{ control }}" required>
          </mat-form-field>
        </ng-container>
        <button mat-raised-button color="primary" type="submit" >{{ showEditForm ? 'Save Changes' : 'Add Admin' }}</button>
       <button mat-raised-button color="warn" type="button" (click)="cancelForm()">Cancel</button>
      </fieldset>
    </form>
  </div>
  
  <div #printContent style="display:none">
    <table>
      <!-- Table headers and rows will be generated dynamically -->
    </table>
    </div>
  </div>
  