.container {
  display: flex;
  flex-wrap: wrap; /* Allow containers to wrap onto multiple lines if needed */
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px; /* Adjust the max-width as needed */
  margin: 0 auto; 
  padding: 20px; 
  height: auto; /* Set the height to 100% of the viewport height */
  overflow-y: auto; /* Add a scrollbar if the content exceeds the container height */
}

.calendar-container {
  flex-basis: calc(50% - 2.5px); /* Adjust width to fit two calendars horizontally with some spacing */
  margin-bottom: 20px; /* Adjust spacing between calendar containers */
}

.calendar-containerr {
  flex-basis: 60%; /* Make sure the third calendar spans the full width */
}
/*.amouna-container {
  max-height: calc(100% - 100px); /* Adjust the height of the container */
 /* overflow-y: auto; /* Add a scrollbar if the content exceeds the container height 
}
/* CSS for Color Legend */
.color-legend {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  }
  .legend {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .legend-item {
  display: flex;
  align-items: center;
  }
  
  .color-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #ccc;
  }
  
  .legend-text {
  font-size: 14px;
  }
  .amouna-container {
    padding: 20px;
  }
  
  .page-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #3f51b5;
  }
  
  .legend {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .legend-text {
    font-size: 16px;
    color: #555;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .calendar-container,
  .calendar-containerr {
    flex: 1;
    min-width: 300px;
    margin: 10px;
  }
  
  .calendar-container {
    height: 500px; /* Adjust as needed */
  }
  
  .calendar-containerr {
    height: 600px; /* Adjust as needed */
  }
  