<div class="amouna-container mat-elevation-z8">
<!-- Legend -->
<h1 class="page-title">General Lessons Schedule</h1>

<div class="legend">
  <div class="legend-item">
    <div class="legend-color" style="background-color: #4CAF50;"></div>
    <div class="legend-text">Accomplished Lesson</div>
  </div>
  <div class="legend-item">
    <div class="legend-color" style="background-color: #F44336;"></div>
    <div class="legend-text">Not Accomplished Lesson</div>
  </div>
</div>

<div class="container">
    <!-- Time Grid View 
    <div class="calendar-container">
      <div id="calendar1"></div>
    </div>-->



<div class="calendar-container">
    <div id="calendar3"></div>
  </div>

  <!-- Month View -->
  <div class="calendar-containerr">
    <div id="calendar2"></div>
  </div>
</div>
</div>