# Node modules for backend
/node_modules

# Logs
npm-debug.log
yarn-error.log

# Environment variables
.env

# IDEs and Editors
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Miscellaneous
/dist/
/tmp/
/out-tsc/
/coverage/
/libpeerconnection.log
