/* Ensure that the entire page has a scrollbar when necessary */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Center the content horizontally */
  .container {
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto; 
    padding: 20px; 
    height: 100%; /* Set the height to 100% of the viewport height */
    overflow-y: auto; /* Add a scrollbar if the content exceeds the container height */
  }
  
  .candidat-container {
    max-height: calc(100% - 100px); /* Adjust the height of the container */
    overflow-y: auto; /* Add a scrollbar if the content exceeds the container height */
  }
  
  table {
    width: 100%;
  }
  .amouna-button {
    margin: 5px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .amouna-button:hover {
    background-color: #4CAF50; /* Green */
    color: rgb(245, 235, 236);
  }
  
  .amouna-button:active {
    background-color: #45a049;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  