<div class="container">
  <h2>License Categories Edition</h2>
  <div class="amouna-container mat-elevation-z8">
    <!-- Table -->
    <table mat-table [dataSource]="licenseCategories">
      <!-- Displaying columns -->
      <ng-container *ngFor="let column of columns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let category">{{ category[column] }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let category">
          <button mat-icon-button color="primary" (click)="editCategory(category)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCategory(category)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Header and Row definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let category; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator [pageSize]="3" [pageSizeOptions]="[2, 3, 4, 5]" [length]="licenseCategories.length"></mat-paginator>

    <!-- Print Button -->
    <button class="amouna-button" (click)="printTable()">Print</button>
  </div>

  <!-- Add New Category Button -->
  <button class="amouna-button" (click)="toggleForm()">Add New License Category</button>

  <!-- Add New Category Form -->
  <div *ngIf="showForm">
    <form [formGroup]="form" (submit)="submitForm()">
      <fieldset>
        <legend>Add License Category</legend>
        <ng-container *ngFor="let field of formFields">
          <mat-form-field>
            <mat-label>{{ field }}</mat-label>
            <input matInput type="text" formControlName="{{ field }}" required>
            <mat-error *ngIf="form.get(field)?.hasError('required')"> {{ field }} is required</mat-error>
          </mat-form-field>
        </ng-container>
        <!-- Submit and Cancel Buttons -->
        <button class="amouna-button" type="submit">Add License Category</button>
        <button class="amouna-button" type="button" (click)="cancelForm()">Cancel</button>
      </fieldset>
    </form>
  </div>

  <!-- Edit Category Form -->
  <div *ngIf="showEditForm">
    <form [formGroup]="form" (submit)="saveChanges()">
      <fieldset>
        <legend>Edit License Category</legend>
        <ng-container *ngFor="let field of formFields">
          <mat-form-field>
            <mat-label>{{ field }}</mat-label>
            <input matInput type="text" formControlName="{{ field }}" required>
            <mat-error *ngIf="form.get(field)?.hasError('required')"> {{ field }} is required</mat-error>
          </mat-form-field>
        </ng-container>
        <!-- Submit and Cancel Buttons -->
        <button class="amouna-button" type="submit">Save Changes</button>
        <button class="amouna-button" type="button" (click)="cancelForm()">Cancel</button>
      </fieldset>
    </form>
  </div>

  <!-- Print Content -->
  <div #printContent style="display:none">
    <table>
      <!-- Table headers and rows will be generated dynamically -->
    </table>
  </div>
  <br><br><br>
</div>
