<div class="container">
<h2>maintenance-edition </h2>
<div class="amouna-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="Mcode">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.Mcode}} </td>
      </ng-container>
  
      <!-- Code Column -->
      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef> Designation</th>
        <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
      </ng-container>
  
     <!-- Action Column -->
    <ng-container matColumnDef="actions" class="action-cell">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" >
          <button mat-icon-button color="primary" (click)="editRow(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteRow(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
    <mat-paginator [pageSize]="5"
                  [pageSizeOptions]="[3, 5, 8, 10]"
                  [length]="dataSource.data.length"
                  (page)="onPageChange($event)">
    </mat-paginator>
  <br><br>
  <button class="amouna-button" (click)="printTable()">Print</button>

  </div>
  <br><br>
  <button class="amouna-button" (click)="toggleForm()">Add New Car Maintenance</button>

<!-- Form for adding a new car maintenance entry -->
<div *ngIf="showForm" class="form-container">
  <h2>Add New Car Maintenance</h2>
 <form (submit)="submitCarMaintenance()">
  <mat-form-field appearance="fill">
    <mat-label>Code</mat-label>
    <input matInput type="text" name="Mcode" [(ngModel)]="selectedRow.Mcode" required>
    <mat-error *ngIf="!selectedRow.Mcode">Code is required</mat-error>

  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Designation</mat-label>
    <input matInput type="text" name="designation" [(ngModel)]="selectedRow.designation" required>
    <mat-error *ngIf="!selectedRow.designation">Designation is required</mat-error>

  </mat-form-field>
  <!-- Add more form fields as needed -->
    <br>
  <!-- Submit button -->
  <button mat-raised-button color="primary" type="submit">Add Maintenance</button>
  <button mat-raised-button color="warn" type="button" (click)="cancelForm()">Cancel</button>
</form>
</div>

<!-- Form for editing -->
<div *ngIf="showEditForm" class="form-container">
<h2>Edit Maintenance</h2>
<form (submit)="saveChanges()">
  <mat-form-field appearance="fill">
    <mat-label>Code</mat-label>
    <input matInput type="text" name="Mcode" [(ngModel)]="selectedRow.Mcode" required>
    <mat-error *ngIf="!selectedRow.Mcode">Code is required</mat-error>

  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Designation</mat-label>
    <input matInput type="text" name="designation" [(ngModel)]="selectedRow.designation" required>
    <mat-error *ngIf="!selectedRow.designation">Designation is required</mat-error>

  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit">Save Changes</button>
  <button mat-raised-button color="warn" type="button" (click)="canceladdForm()">Cancel</button>
</form>
</div>


  
  <div #printContent style="display:none">
    <table>
      <!-- Table headers and rows will be generated dynamically -->
    </table>
  </div>
  <br><br>
</div>