.amouna-container {
  max-height: calc(100% - 100px); /* Adjusted to cover the content */
  overflow-y: auto; /* Add a scrollbar if the content exceeds the container height */
}
  
  table {
    width: 100%;
  }
 
 
  
  .container {
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto; 
    padding: 20px; 
    height: auto; /* Set the height to 100% of the viewport height */
    /*overflow-y: auto; /* Add a scrollbar if the content exceeds the container height */
  }
  .amouna-button {
    margin: 5px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .amouna-button:hover {
    background-color: #eb848d; /* Green */
    color: rgb(245, 235, 236);
  }
  
  .amouna-button:active {
    background-color: #eb848d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  /* CSS for form container */
.form-container {
  max-width: 400px; /* Adjust max-width as needed */
  margin: auto; /* Center the form horizontally */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add some space between forms */
  max-height: calc(100% - 100px);
}

/* CSS for form fields */
.mat-form-field {
  width: 100%;
  margin-bottom: 20px; /* Add some space between form fields */
}

/* CSS for buttons */
button {
  margin-right: 10px; /* Add some space between buttons */
}
