.background-image {
    background-image: url('../../../assets/trafic-roue-technologie-classique-automobile-moderne.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-container {
    background-color: white;
    padding: 20px;
  }
  .password-toggle {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  