
    <div class="card">
        <h1 class="heading"> Welcome to Your Account </h1>
        <img *ngIf="imageUrl" [src]="imageUrl" alt="User Image" style="display: block; margin: 0 auto; width: 150px; height: 150px;">



        <div class="info">

            <p><strong>Username:</strong> {{ currentUser.username }}</p>
            <p><strong>Email:</strong> {{ currentUser.email }}</p>
            <p><strong>First Name:</strong> {{ currentUser.firstName }}</p>
            <p><strong>Name:</strong> {{ currentUser.name }}</p>
            <p><strong>CIN:</strong> {{ currentUser.CIN }}</p>
            <p><strong>Date of Issue:</strong> {{ currentUser.dateOfIssue }}</p>
            <p><strong>Date of Birth:</strong> {{ currentUser.dateOfBirth }}</p>
            <p><strong>Nationality:</strong> {{ currentUser.nationality }}</p>
            <p><strong>Address:</strong> {{ currentUser.address }}</p>
            <p><strong>Telephone:</strong> {{ currentUser.telephone }}</p>
            <br>
            <mat-divider></mat-divider>   
          
            <div class="button-container">
                <button mat-raised-button class="edit-button" (click)="toggleEditMode()">Edit profile</button>
            </div>
            <div class="button-container">
                <button mat-raised-button class="change-password-button" (click)="togglePasswordChange()">Change Password</button>
            </div>
            <br><br>
     </div>
   
        <br><br>

    
     <div *ngIf="showEditForm">
        <form [formGroup]="editUserForm" (submit)="saveChanges()">
                
            <fieldset>
                <legend>Edit User</legend>
                <ng-container *ngFor="let field of ['username', 'email', 'firstName', 'dateOfBirth', 'nationality', 'address', 'telephone']">
                    <mat-form-field *ngIf=" field !== 'dateOfBirth' ">
                        <mat-label>{{ field }}</mat-label>
                        <input matInput [type]="getFieldType(field)" formControlName="{{ field }}">
                        <!-- Add specific error messages for each field if needed -->
                        <mat-error *ngIf="editUserForm.get(field)?.hasError('required')"> {{ field }} is required</mat-error>
                        <mat-error *ngIf="field === 'email' && editUserForm.get(field)?.hasError('email')"> Invalid email format</mat-error>
                    </mat-form-field>
                
            
                    <mat-form-field *ngIf=" field === 'dateOfBirth'">
                        <mat-label>Choose the date of birth</mat-label>
                        <input matInput formControlName="{{ field }}" [matDatepicker]="picker" [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                
                 <!-- Other form fields -->
                </ng-container>

         
                  <div>
                    <label for="image">Image </label>
                    <input id="image" type="file" (change)="onImageSelected($event)">
                    <mat-error *ngIf="!selectedFile">Image is required</mat-error>
                  </div>
                 

                <!-- Submit and Cancel Buttons -->
                <button class="amouna-button" type="submit">Save changes</button>
                <button class="amouna-button" type="button" (click)="cancelForm()">Cancel</button>
            </fieldset>
    
        </form>

    </div>




   
<!-- Password change form -->
<div *ngIf="showPasswordChangeForm">
    <form [formGroup]="passwordChangeForm" (submit)="changePassword()">
        <mat-form-field>
            <input matInput type="password" formControlName="oldPassword" placeholder="Old Password" required>
            <mat-error *ngIf="passwordChangeForm.get('oldPassword') ?.hasError('required')">Old Password is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" formControlName="newPassword" placeholder="New Password" required>
            <mat-error *ngIf="passwordChangeForm.get('newPassword')?.hasError('required')">New Password is required</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="passwordChangeForm.invalid">Change Password</button>
        <button mat-raised-button type="button" (click)="cancelPasswordChange()">Cancel</button>
    </form>
</div>
</div>

