<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Include your CSS stylesheets here -->
</head>
<body>

    <div class="container">
        <h1 class="heading"> Welcome to Your Account </h1>
        <img *ngIf="imageUrl" [src]="imageUrl" alt="User Image" style="display: block; margin: 0 auto; width: 150px; height: 150px;">



        <div class="info">

            <p><strong>Username:</strong> {{ currentUser.username }}</p>
            <p><strong>Email:</strong> {{ currentUser.email }}</p>
            <p><strong>First Name:</strong> {{ currentUser.firstName }}</p>
            <p><strong>Name:</strong> {{ currentUser.name }}</p>
            <p><strong>CIN:</strong> {{ currentUser.CIN }}</p>
            <p><strong>Date of Issue:</strong> {{ currentUser.dateOfIssue }}</p>
            <p><strong>Date of Birth:</strong> {{ currentUser.dateOfBirth }}</p>
            <p><strong>Nationality:</strong> {{ currentUser.nationality }}</p>
            <p><strong>Address:</strong> {{ currentUser.address }}</p>
            <p><strong>Telephone:</strong> {{ currentUser.telephone }}</p>
            <br>
            <mat-divider></mat-divider>   
          
            <div class="button-container">
                <button mat-raised-button class="edit-button" (click)="toggleEditMode()">Edit profile</button>
            </div>
            <div class="button-container">
                <button mat-raised-button class="change-password-button" (click)="togglePasswordChange()">Change Password</button>
            </div>
            <br><br>
     </div>
   
        <br><br>

        <!--<div *ngIf="editMode" class="edit-mode">
            <div *ngFor="let key of getEditedUserKeys()">
                <input type="text" [(ngModel)]="editedUser[key]" placeholder="{{ key | titlecase }}">
            </div>
            <button class="save-button" (click)="saveChanges()">Save Changes</button>
        </div>
        
    </div>-->
     <div *ngIf="showEditForm">
        <form [formGroup]="editUserForm" (submit)="saveChanges()">
                
            <fieldset>
                <legend>Edit User</legend>
                <ng-container *ngFor="let field of ['username', 'email', 'firstName', 'dateOfBirth', 'nationality', 'address', 'telephone']">
                    <mat-form-field *ngIf=" field !== 'dateOfBirth' ">
                        <mat-label>{{ field }}</mat-label>
                        <input matInput [type]="getFieldType(field)" formControlName="{{ field }}">
                        <!-- Add specific error messages for each field if needed -->
                        <mat-error *ngIf="editUserForm.get(field)?.hasError('required')"> {{ field }} is required</mat-error>
                        <mat-error *ngIf="field === 'email' && editUserForm.get(field)?.hasError('email')"> Invalid email format</mat-error>
                    </mat-form-field>
                
                   <!--<mat-form-field *ngIf=" field === 'dateOfBirth'">
                        <mat-label>{{ field }}</mat-label>
                        <input matInput [type]="getFieldType(field)" formControlName="{{ field }}" [matDatepicker]="picker">
                        <!-- Add specific error messages for each field if needed -
                        <mat-error *ngIf="editUserForm.get(field)?.hasError('required')"> {{ field }} is required</mat-error>
                        <!--<mat-error *ngIf="editUserForm.get(field)?.hasError('matDatepickerParse')"> Invalid date</mat-error>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>-->
                    <mat-form-field *ngIf=" field === 'dateOfBirth'">
                        <mat-label>Choose the date of birth</mat-label>
                        <input matInput formControlName="{{ field }}" [matDatepicker]="picker" [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                
                 <!-- Other form fields -->
                </ng-container>

         
                  <div>
                    <label for="image">Image </label>
                    <input id="image" type="file" (change)="onImageSelected($event)">
                    <mat-error *ngIf="!selectedFile">Image is required</mat-error>
                  </div>
                   <!-- <div *ngIf="currentUser['imageUrl']">
                        <img [src]="currentUser['imageUrl']" alt="User Image" style="width: 150px; height: 150px;">
                    </div>
                </mat-form-field>-->

                <!-- Submit and Cancel Buttons -->
                <button class="amouna-button" type="submit">Save changes</button>
                <button class="amouna-button" type="button" (click)="cancelForm()">Cancel</button>
            </fieldset>
    
        </form>

    </div>




    <!-- <div *ngIf="showEditForm">
                    <form [formGroup]="editUserForm" (submit)="saveChanges()">
                        <fieldset>
                            <legend>Edit User</legend>
                            <ng-container *ngFor="let field of ['username', 'email', 'firstName', 'dateOfBirth', 'nationality', 'address', 'telephone']">
                                <mat-form-field >
                                    <mat-label>{{ field }}</mat-label>
                                    <input matInput [type]="getFieldType(field)" formControlName="{{ field }}">
                                    <mat-error *ngIf="editUserForm.get(field)?.hasError('required')"> {{ field }} is required</mat-error>
                                    <mat-error *ngIf="field === 'email' && editUserForm.get(field)?.hasError('email')"> Invalid email format</mat-error>
                                </mat-form-field>
                            </ng-container>
                         <mat-form-field >
                                <mat-label>Image</mat-label>
                                <input type="file" (change)="onImageSelected($event)" accept="image/*" formControlName="image">
                                <mat-error *ngIf="editUserForm.get('image')?.hasError('required')">Image is required</mat-error>
                                <img [src]="imageUrl" alt="User Image" style="width: 150px; height: 150px;">
                            </mat-form-field>
                            <button class="amouna-button" type="submit">Save changes</button>
                            <button class="amouna-button" type="button" (click)="cancelForm()">Cancel</button>
                        </fieldset>
                    </form>
                </div> -->

<!-- Password change form -->
<div *ngIf="showPasswordChangeForm">
    <form [formGroup]="passwordChangeForm" (submit)="changePassword()">
        <mat-form-field>
            <input matInput type="password" formControlName="oldPassword" placeholder="Old Password" required>
            <mat-error *ngIf="passwordChangeForm.get('oldPassword') ?.hasError('required')">Old Password is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" formControlName="newPassword" placeholder="New Password" required>
            <mat-error *ngIf="passwordChangeForm.get('newPassword')?.hasError('required')">New Password is required</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="passwordChangeForm.invalid">Change Password</button>
        <button mat-raised-button type="button" (click)="cancelPasswordChange()">Cancel</button>
    </form>
</div>
</div>

</body>
</html>    
