<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Include your CSS stylesheets here -->
</head>
<body>
    <img src="{{ currentUser.image }}" alt="User Image" style="display: block; margin: 0 auto; width: 20px; height: 20px;">

    <div class="container">
        <h1 class="heading"> Welcome to Your Account </h1>

        <div class="info">

            <p><strong>Username:</strong> {{ currentUser.username }}</p>
            <p><strong>Email:</strong> {{ currentUser.email }}</p>
            <p><strong>First Name:</strong> {{ currentUser.firstName }}</p>
            <p><strong>Name:</strong> {{ currentUser.name }}</p>
            <p><strong>CIN:</strong> {{ currentUser.CIN }}</p>
            <p><strong>Date of Issue:</strong> {{ currentUser.dateOfIssue }}</p>
            <p><strong>Date of Birth:</strong> {{ currentUser.dateOfBirth }}</p>
            <p><strong>Nationality:</strong> {{ currentUser.nationality }}</p>
            <p><strong>Address:</strong> {{ currentUser.address }}</p>
            <p><strong>Telephone:</strong> {{ currentUser.telephone }}</p>
            <p><strong>Image:</strong> {{ currentUser.image }}</p>
            <p><strong>Situation</strong> {{currentUser.situation}}</p>
            <p><strong>Balance:</strong> {{ currentUser.balance }}</p>
            <br>
            <mat-divider>***</mat-divider>   

          
            <div class="button-container">
                <button mat-raised-button class="delete-button" (click)="deleteUser()">Delete account</button>
                <button mat-raised-button class="edit-button" (click)="toggleEditMode()">Edit profile</button>
            </div>
            <br><br>
     </div>
   
        <br><br>

        <!--<div *ngIf="editMode" class="edit-mode">
            <div *ngFor="let key of getEditedUserKeys()">
                <input type="text" [(ngModel)]="editedUser[key]" placeholder="{{ key | titlecase }}">
            </div>
            <button class="save-button" (click)="saveChanges()">Save Changes</button>
        </div>
        
    </div>-->
    <div *ngIf="showEditForm">
        <form [formGroup]="editUserForm" (submit)="saveChanges()">
            <fieldset>
                <legend>Edit User</legend>
                <ng-container *ngFor="let field of ['username', 'email', 'name', 'firstName', 'CIN', 'dateOfIssue', 'situation', 'balance', 'dateOfBirth', 'nationality', 'address', 'telephone', 'image' ,'CategoryCode']">
                  
                    <mat-form-field>
                        <mat-label>{{ field }}</mat-label>
                        <input matInput type="{{ field === 'dateOfIssue' || field === 'dateOfBirth'  ? 'date' :'text' }}" formControlName="{{ field }}" required>
                        <mat-error *ngIf="editUserForm.get(field)?.hasError('required')"> {{ field }} is required</mat-error>
                        <mat-error *ngIf="editUserForm.get(field)?.invalid"> Invalid {{ field }} </mat-error>
                  </mat-form-field>
                    <!--<mat-form-field *ngIf="field === 'image'">
                        <mat-label>{{ field }}</mat-label>
                        <input matInput type="file" (change)="onImageSelected($event)" accept="image/*" formControlName="{{ field }}">
                        <mat-error *ngIf="editUserForm.get(field)?.hasError('required')"> {{ field }} is required</mat-error>
                        <img *ngIf="currentUser.image" [src]="currentUser.image" alt="User Image" style="width: 150px; height: 150px;">
                    </mat-form-field>-->
                </ng-container>
                <!-- Submit and Cancel Buttons -->
                <button class="amouna-button" type="submit">Save changes </button>
                <button class="amouna-button" type="button" (click)="cancelForm()">Cancel</button>
            </fieldset>
        </form>
    </div>
    </div>
    <!-- Add a button to trigger password change -->
<button mat-raised-button class="change-password-button" (click)="togglePasswordChange()">Change Password</button>

<!-- Password change form -->
<div *ngIf="showPasswordChangeForm">
    <form [formGroup]="passwordChangeForm" (submit)="changePassword()">
        <mat-form-field>
            <input matInput type="password" formControlName="oldPassword" placeholder="Old Password" required>
            <mat-error *ngIf="passwordChangeForm.get('oldPassword') ?.hasError('required')">Old Password is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" formControlName="newPassword" placeholder="New Password" required>
            <mat-error *ngIf="passwordChangeForm.get('newPassword')?.hasError('required')">New Password is required</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="passwordChangeForm.invalid">Change Password</button>
    </form>
</div>

</body>
</html>    
