<!-- app.component.html -->
<mat-toolbar color="primary"> <!-- Header -->
    <span>Driving School Management</span>
  </mat-toolbar>
  
  <mat-sidenav-container class="container"> <!-- Container for sidebar and content -->
    <mat-sidenav mode="side" opened> <!-- Sidebar -->
      <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active">Dashboard</a>
        <a mat-list-item routerLink="/hereos" routerLinkActive="active">Candidate Management</a>
        <a mat-list-item routerLink="/instructors" routerLinkActive="active">Session Management</a>
        <a mat-list-item routerLink="/instructors" routerLinkActive="active">Vehicle Management</a>
        <a mat-list-item routerLink="/instructors" routerLinkActive="active">Maintenance log</a>
        <a mat-list-item routerLink="/contact" routerLinkActive="active">Session</a>
        <a mat-list-item routerLink="/contact" routerLinkActive="active">Alerts</a>
        <a mat-list-item routerLink="/contact" routerLinkActive="active">Contact</a>
      </mat-nav-list>
    </mat-sidenav>
   
    <mat-sidenav-content class="content"> <!-- Content Area -->
      <router-outlet></router-outlet> <!-- Placeholder for component content -->
    </mat-sidenav-content>
  </mat-sidenav-container>