<div class="payment-container">
  <h2>Payment Settlements</h2>

  <!-- Displaying existing payment settlements -->
  <div *ngFor="let payment of dataSource.data" class="payment-item">
      <p>Date: {{ payment.date | date }}</p>
      <p>Amount: ${{ payment.montant }}</p>
      <p>Due Date: {{ payment.paymentDetails[0].dateEcheance | date }}</p>

      <!-- Edit and delete buttons -->
      <button (click)="editRow(payment)">Edit</button>
      <button (click)="deleteRow(payment)">Delete</button>
  </div>

  <!-- Add new payment settlement form -->
  <div class="add-payment-form">
      <h3>Add New Payment Settlement</h3>
      <div *ngIf="showForm || showEditForm">
          <form [formGroup]="paymentForm" (submit)="submitPayment()">
              <fieldset>
                  <legend>{{ showEditForm ? 'Edit Payment Settlement' : 'Add New Payment Settlement' }}</legend>
                  <ng-container *ngFor="let control of paymentColumns">
                      <label>
                          {{ control }}:
                          <input type="text" formControlName="{{ control }}" [(ngModel)]="selectedRow[control]" required>

                      </label>
                  </ng-container>
                  <button type="submit" class="amouna-button">{{ showEditForm ? 'Save Changes' : 'Add Payment Settlement' }}</button>
              </fieldset>
          </form>
      </div>
  </div>
</div>
