<!-- schedule.component.html -->
   <!-- Color legend -->
   <div class="calendar-container">

    <div id="calendar"></div>
 
    <div class="color-legend">
     <div class="legend-item">
       <div class="color-box" style="background-color: rgb(112, 193, 247)"></div>
       <div class="legend-text">accomplished</div>
     </div>
     <div class="legend-item">
       <div class="color-box" style="background-color: rgb(248, 26, 163);"></div>
       <div class="legend-text">Not accomplished </div>
     </div> 
   </div>
     
       <!-- Include navigation controls for different views -->
       <div class="calendar-navigation">
         <span class="material-symbols-outlined">
             <button mat-button (click)="changeView('timeGridWeek')"><mat-icon>
                 calendar_view_day
             </mat-icon>Week</button>
            <button mat-button (click)="changeView('dayGridMonth')"> <mat-icon>
             calendar_view_week
             </mat-icon>Month</button>
             </span> 
         <button mat-button (click)="changeView('dayGridYear')"><mat-icon>
             calendar_view_month
         </mat-icon>Year</button>
       </div>
       <!-- Include your event details component -->
       <app-student-dialog *ngIf="selectedEvent" [eventDetails]="selectedEvent" (close)="selectedEvent = null" ></app-student-dialog>
    
  
     
     </div>