/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
    overflow: hidden;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #3F51B5 rgb(180, 16, 71);   /* scroll thumb and track */ 
}






  




