

  .card-container {
    background-color: white;
    padding: 20px;
  }
 
  
  .mat-sidenav {
    width: 200px; /* Adjust as needed */
    background-color: #db4364; /* Adjust as needed */
  }
  .logout-button {
    background-color: #3F51B5    ; /* Red background color */
    color: rgb(8, 8, 8); /* black text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    cursor: pointer; /* Add pointer cursor on hover */
    border-radius: 5px; /* Add border radius */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .logout-button:hover {
    background-color: #e9155b; /* Darker red background color on hover */
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  
  .account-icon {
    font-size: 64px; /* Adjust the size as needed */
  }
  
  .welcome-text {
    font-size: 18px;
    margin-top: 8px;
  }
  
  .logo-img {
    width: 55px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Add space between logo and text */
  }
  .menu-buttons button {
    margin-right: 10px; /* Adjust as needed */
  }

  .container {
    width: 100%; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
  }
/* Adjust padding and margin for nested menu items */
.mat-menu-content .mat-menu-item {
  padding: 8px 24px;
  margin: 4px 0;
}

/* Add indicator for nested menu items */
.mat-menu-content .mat-menu-item::after {
  content: '▸'; /* Unicode arrow character */
  float: right;
  margin-left: auto;
}

/* Change background color on hover for nested menu items */
.mat-menu-content .mat-menu-item:hover {
  background-color: #f3c1d8;
  color: #000;
}

  
  
  