<h2>payment-method edition</h2>
<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="method">
        <th mat-header-cell *matHeaderCellDef> Method </th>
        <td mat-cell *matCellDef="let element"> {{element.method}} </td>
      </ng-container>
  
      <!-- Code Column -->
      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef> Designation</th>
        <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
      </ng-container>
  
     <!-- Action Column -->
    <ng-container matColumnDef="actions" class="action-cell">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" >
          <button mat-icon-button color="primary" (click)="editRow(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteRow(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  <br><br>
  <button (click)="printTable()">Print</button>

  </div>
  <br><br>
  <button (click)="toggleForm()">Add New Payment Method</button>

<!-- Form for adding a new car maintenance entry -->
<div *ngIf="showForm">
<!-- Your form for adding a new car maintenance entry -->
<form (submit)="submitNewPm()">
  <!-- Example fields, replace with your actual form fields -->
  <label>
    Code:
    <input type="text" name="method" [(ngModel)]="selectedRow.method" required>
  </label>
  <label>
    Designation:
    <input type="text" name="designation" [(ngModel)]="selectedRow.designation" required>
  </label>
  <!-- Add more form fields as needed -->

  <!-- Submit button -->
  <button type="submit">Add </button>
</form>
</div>
  <!-- Form for editing -->
<div *ngIf="showEditForm">
    <h2>Edit Maintenance</h2>
    <form (submit)="saveChanges()">
      <label>
        Code:
        <input type="text" name="method" [(ngModel)]="selectedRow.method" required>
      </label>
      <label>
        Designation:
        <input type="text" name="designation" [(ngModel)]="selectedRow.designation" required>
      </label>
      <button type="submit">Save Changes</button>
    </form>
  </div>




  
  <div #printContent style="display:none">
    <table>
      <!-- Table headers and rows will be generated dynamically -->
    </table>
  </div>
