 
/* Background styling */
.background-image {
  background-image: url('../../../assets/trafic-roue-technologie-classique-automobile-moderne.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container styling */
.container {
  margin-top: 50px;
  
}

/* Card styling */
.card {
  padding: 20px;
  width: 1000px;
  max-width: 90%;
  max-height:calc(100% - 100px); /* Adjust the height of the container */  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* Text centering */
.text-center {
  text-align: center;
}

/* Form container styling */
.form-container {
  margin-top: 20px; /* Add margin above the form */
}

/* Button container styling */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Add margin above the buttons */
}

/* Hide password button styling */
button.hide-password-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px; /* Add margin above the error message */
}
