<!-- schedule.component.html -->
   <!-- Color legend -->
   <div class="calendar-container">

    <div id="calendar"></div>
 
    <div class="color-legend">
     <div class="legend-item">
       <div class="color-box" style="background-color: green;"></div>
       <div class="legend-text">Success</div>
     </div>
     <div class="legend-item">
       <div class="color-box" style="background-color: red;"></div>
       <div class="legend-text">Failed</div>
     </div>
     <div class="legend-item">
       <div class="color-box" style="background-color: gray;"></div>
       <div class="legend-text">Canceled</div>
     </div>
     <div class="legend-item">
       <div class="color-box" style="background-color: blue;"></div>
       <div class="legend-text">Other</div>
     </div>
   </div>
     
       <!-- Include navigation controls for different views -->
       <div class="calendar-navigation">
         <span class="material-symbols-outlined">
             <button mat-button (click)="changeView('timeGridWeek')"><mat-icon>
                 calendar_view_day
             </mat-icon>Week</button>
            <button mat-button (click)="changeView('dayGridMonth')"> <mat-icon>
             calendar_view_week
             </mat-icon>Month</button>
             </span> 
         <button mat-button (click)="changeView('dayGridYear')"><mat-icon>
             calendar_view_month
         </mat-icon>Year</button>
       </div>
       <!-- Include your event details component -->
       <app-instructor-dialog *ngIf="selectedEvent" [eventDetails]="selectedEvent" (close)="selectedEvent = null"></app-instructor-dialog>
    
  
    
     </div>